<div class="container mt-4">
  <h1>IPFS on ICP</h1>


  <h2 class="mt-4">Service Worker</h2>
  <p>
    TODO: Documentation and code
  </p>
  @if (!serviceWorkerActive()) {
    <div class="alert alert-info">
      Service worker is being installed...
    </div>
  } @else {
    <div class="alert alert-success">
      Service worker is active.
    </div>


    <h2 class="mt-4">Image</h2>

    <img src="/ipfs/bafkreihz6qb5zw72n4c5n4edhhttd4b3kmtx4ehbkj352elvkxvv4h4ubm" alt="Example image from IPFS via service worker" class="" width="400">


    <h2 class="mt-4">Video</h2>

    <video width="600" controls>
      <source src="/ipfs/bafybeigxhlez6vidpmu75nq4knense5tns3fnmawboar6huyx3tcknb7ou">
      Your browser does not support the video tag.
    </video>



    <h2 class="mt-4">Upload</h2>

    <p>
      Selected files and directories will be split into IPFS blocks of no more than 1MB
      using the <a href="https://specs.ipfs.tech/unixfs/">UnixFS</a> standard.
    </p>

    <div class="mb-3">
      <input class="form-control" type="file" id="fileInput" (change)="onFileSelected($event)">
    </div>

    <div *ngIf="blocksToUpload()" class="alert alert-info mt-3">
      <div><b>Root CID:</b> {{ blocksToUpload()?.rootCid?.toString() }}</div>
      <div><b>Blocks:</b></div>
      <ul>
        @for (block of blocksToUpload()?.blocks ?? []; track block.cid.toString()) {
          <li>
            @let status = uploadStatus().get(block.cid.toString());
            @if (status) {
              @if (status === 'uploading') {
                <span class="badge bg-primary">uploading</span>
              } @else if (status === 'success') {
                <span class="badge bg-success">success</span>
              } @else if (status === 'duplicate') {
                <span class="badge bg-warning">duplicate</span>
              } @else {
                <span class="badge bg-danger">{{ status.error }}</span>
              }
            }

            {{ block.cid.toString() }} ({{ block.bytes.length }} bytes)
          </li>
        }
      </ul>
      <button class="btn btn-primary" (click)="uploadBlocks()">
        Upload
      </button>
    </div>

  }

</div>
